################################################################
# Entry points
################################################################
defaultEntryPoints = {{ traefik_entry_points | json_query('[].name') }}

[entryPoints]
{% for item in traefik_entry_points %}
  [entryPoints.{{ item.name }}]
  address = "{{ item.address }}"
{% endfor %}

[tls]
{% for item in traefik_entry_points %}
{% if item.tls.certificates.cert_file is defined and item.tls.certificates.key_file is defined %}
[[tls.certificates]]
certFile = "{{ item.tls.certificates.cert_file }}"
keyFile = "{{ item.tls.certificates.key_file }}"
{% endif %}
{% endfor %}

################################################################
# Logs
################################################################
[traefikLog]
format = "json"

[accessLog]
format = "json"

{% if traefik_enable_api | lower == 'true' %}
################################################################
# API
################################################################
[api]

dashboard = true
insecure = false

{% endif %}
################################################################
# Consul Catalog Provider
################################################################

# Enable Consul Catalog Provider.
[providers.consulCatalog]
prefix = "{{ traefik_consul_prefix }}"
exposedByDefault = false

  [providers.consulCatalog.endpoint]
  address = "{{ traefik_consul_endpoint }}"
{% if traefik_consul_token != None and traefik_consul_token | length > 0 %}
  token = "{{ traefik_consul_token }}"
{% endif %}

{% if traefik_metrics_influxdb_endpoint != None %}
[metrics]
  [metrics.influxDB]
    address = "{{ traefik_metrics_influxdb_endpoint | urlsplit('hostname') }}:{{ traefik_metrics_influxdb_endpoint | urlsplit('port') }}"
    protocol = "{{ traefik_metrics_influxdb_endpoint | urlsplit('scheme') }}"
{% if traefik_metrics_influxdb_database != None and traefik_metrics_influxdb_database | length > 0 %}
    database = "{{ traefik_metrics_influxdb_database }}"
{% endif %}
    pushInterval = {{ traefik_metrics_influxdb_pushinterval }}
{% endif %}
